@page "/pos/sale"
@model PointOfSalesWebApplication.Pages.POS.SaleModel
@{
    Layout = "_PosLayout";
}

<div class="header">
    <h1>@Model.CurrentSale.Name</h1>
<div>
<div class="notebook-container">
    <div class="col-sm-6 notebook">
        <form method="get">
@*             <input type="hidden" name="saleID" value="@Model.CurrentSale.ID" /> *@
            <label asp-for="ClientString">Client</label>
            <select asp-for="ClientString" asp-items="Model.ClientOptions" class="form-select"
                    onchange="this.form.submit()">
                <option>No Client Selected</option>  
            </select>
        </form>
        @if(@Model.CurrentSale.ClientID != null) { 
            <p>Facturation address : @Model.CurrentSale.ClientAddress</p> 
            <p>Delivery address : @Model.CurrentSale.ClientAddress</p>
        }
        else { 
            <p>Facturation address :</p> 
            <p>Delivery address :</p> 
        }
    </div>
    <div class="col-sm-6 notebook">
        <p>Date of sale @Model.CurrentSale.SaleDate.ToString()</p>
    </div>
</div>
<div class="pos-layout">
    <div class="sale-table-container col-sm-6">
        <!-- Liste des produits achetés -->
        <table class="table">
            <tr>
                <th>Product</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th>Price</th>
                <th></th>
            </tr>
            @foreach(var product in Model.CurrentSale.Lines) 
            {
                <tr>
                    <td>@product.ProductName</td>
                    <td>@product.UnitPrice</td>
                    <td>@product.Quantity</td>
                    <td>@product.TotalPrice</td>
                    <td>
                        <form mathod="post" asp-page-handler="RemoveProduct" class="d-inline">
                            <input type="hidden" name="productID" value="@product.ProductID" />
                            <input type="hidden" name="qty" value="1" />
                            <button type="submit" class="btn btn-danger btn-sm">-</button>
                        </form>
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="sale-products-container col-sm-6">
        <!-- Liste de tous les produits du magasin -->
        @foreach(var product in Model.Products) 
        {
            <form method="post" asp-page-handler="AddProduct" class="product-card">
                <input type="hidden" name="productID" value="@product.ID" />
                <input type="hidden" name="qty" value="1" />

                <button type="submit" class="product-button">
                    <div class="product-image-wrapper">
                        <span class="bi bi-card-image product-image"></span>
                    </div>

                    <div class="product-info">
                        <p class="product-name">@product.Name</p>
                        <p class="product-price">@product.SalePrice €</p>
                    </div>
                </button>
            </form>
        }
    </div>
</div>
<div class="footer col-sm-6">
    <form method="post" asp-page-handler="FinalizeSale">
        <input type="hidden" name="clientID" value="@Model.CurrentSale.ClientID" />
        <button type="submit" class="btn btn-success">Payment</button>
    </form>
    <h4>Total : @Model.CurrentSale.TotalCost</h4>
</div>

<div class="modal fade" id="paymentModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Paiement</h5>
      </div>
      <div class="modal-body">
        Paiement validé avec succès !
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>

@if (TempData["ShowPaymentModal"] != null)
{
    <script>
        var myModal = new bootstrap.Modal(document.getElementById('paymentModal'));
        myModal.show();
    </script>
}